/* CSS Reset */
* {
    padding: 0;
    margin: 0;
}

/* Form Block */
#main {
    width: 600px;
    border: 3px solid black;
    font-size: 20px;
    padding: 30px;
    margin: 50px auto 0;
}

/* Form Top */
#form-top {

}

.ft {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.fi {
    font-size: 18px;
    width: 200px;
}

/* Form Bottom */
#form-comment {

}

.comment {
    display: block;
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#form-submit {
    display: flex;
    justify-content: flex-end;
}



/* Form Data Block */
h2 {
    text-decoration: underline;
    margin-bottom: 20px;
}

#info {
    margin-bottom: 20px;
    padding-left: 20px;
    display: flex;
    gap: 80px;
}

#info-left p, #info-right p {
    margin-bottom: 5px;
}

#info-submit {
    display: flex;
    justify-content: flex-end;
}



/* Submit Buttons */
.submit, #info-submit a {
    font-size: 20px;
    padding: 2px 4px;
    color: white;
    background-color: rgb(106, 178, 255);
    box-shadow: 2px 2px black;
    text-decoration: none;
    border: 1px solid black;
}

.submit:hover, #info-submit a:hover {
    cursor: pointer;
}