<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Data</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <!-- Form Data Block -->
    <div id="main">
        <h1>Submitted Info</h1>

        <!-- Info -->
        <div id="info">
            <!-- Name -->
            <div id="info-name" class="info-item">
                <p class="label">Name:</p>
                
            </div>

            <!-- Location -->
            <div id="info-location" class="info-item">
                <p class="label">Dojo Location:</p>

            </div>

            <!-- Language -->
            <div id="info-language" class="info-item">
                <p class="label">Favorite Language:</p>

            </div>

            <!-- Comment -->
            <div id="info-comment" class="info-item">
                <p class="label">Comment:</p>

            </div>
        </div>

        <!-- Submit Button -->
        <div id="info-submit">
            <a href="">Submit</a>
        </div>

    </div>

</body>
</html>