<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Data</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <!-- Form Data Block -->
    <div id="main">
        <h2>Submitted Info</h2>

        <!-- Info -->
        <div id="info">
            <!-- Info Left -->
            <div id="info-left">
                <p class="label">Name:</p>
                <p class="label">Dojo Location:</p>
                <p class="label">Favorite Language:</p>
                <p class="label">Comment:</p>
            </div>

            <!-- Info Right -->
            <div id="info-right">
                <p>
                    {% if session['name'] == "" %}
                    Empty
                    {% else %}
                    {{session['name']}}
                    {% endif %}
                </p>
                <p>{{session['location']}}</p>
                <p>{{session['language']}}</p>
                <p>
                    {% if session['comment'] == "" %}
                    Empty
                    {% else %}
                    {{session['comment']}}
                    {% endif %}
                </p>
            </div>
        </div>

        <!-- Submit Button -->
        <div id="info-submit">
            <a href="/reset_info">Go Back</a>
        </div>

    </div>

</body>
</html>